- if current_reviewer.nickname
  .assigned
    %i.fa.fa-user-check
    %span= t '.assigned_repo'
.panel.panel-default
  .panel-body
    %ul
      - repo.each do |repo|
        %li.repo-list
          = link_to class: 'repo-name' do
            = repo.name.truncate(25)
            %i.fa.fa-check
          = image_tag repo.resource.avatar_url, class: 'reviewee-image'
          %span= repo.resource.nickname.truncate(15)
          .recent-login.pull-right
            %i.fab.fa-algolia
            %span= date_format(repo.resource.last_sign_in_at)
