.col-xs-12.p-r-0.p-l-0
  .container-fluid.p-r-0.p-l-0
    %nav.aside-left-nav
      = link_to :root, class: 'aside-item current' do
        %i.fab.fa-hubspot
        .title Pulls
      = link_to :reviewers_reviews, class: 'aside-item' do
        %i.fas.fa-history
        .title Reviews
      = link_to '#', class: 'aside-item' do
        %i.fas.fa-cogs
        .title Settings
    %main.app-main
      %header.main-header
        .title
          %span.full_name Pullrequests
      .app-domainant
        %table.table.table-hover
          %thead
            %tr.pull-list-header
              %th= t('.pr_title')
              %th= t('.repo_title')
              %th= t('.created')
              %th= t('.tag')
          %tbody
            - @pulls.each_with_index do |pull, i|
              %tr.pull-list
                %td= link_to pull.title&.truncate(20), view_check_reviewers_pull_reviews_path(pull), class: 'pull-title'
                %td= link_to pull.repo.decorate.name_including_orgs, class: 'repo-path'
                %td= date_format(pull.remote_created_at)
                %td
                  - pull.tags.each do |tag|
                    %span.label.label-warning= tag.name
= javascript_pack_tag 'update-resource'
