- content_for(:no_footer_page, true)

.reviewer-dashboard-wrapper
  .col-xs-2
    .left-sidebar.hidden-xs
      - if @repo
        = render 'left_side_bar', repo: @repo
  .col-xs-10
    .container
      %main.main
        %table.table.table-hover.pulls-on-dashboard-wrapper
          %thead
            %tr
              %th.col-sm-6
                = t 'activerecord.models.pull'
                .descrition
                  %i.fas.fa-check
                  %span= t '.assigned'
          %tbody
            - @pulls.each_with_index do |pull, i|
              %tr{ class: i % 2 == 0 ? 'add-light-blue' : 'add-light-white' }
                %td
                  = link_to pull.title&.truncate(20), reviewers_pull_path(pull)
                  .pull-right= link_to pull.repo.full_name.truncate(25)

        .text-center= paginate @pulls

      .sidebar
        .sidebar__item.sidebar__item--fixed
          - if @pending_reviews
            = render 'under_review', pending_reviews: @pending_reviews
