.container
  .row
    .page-header{ 'repo-id': @repo.id }
      %h3= link_to @repo.full_name, [:reviewers, @repo]
    = render 'reviewers/shared/navbar', repo: @repo
    = form_with url: reviewers_repo_contents_path(@repo), method: :get, local: true, class: 'search-form' do |f|
      .input-group
        = f.text_field :keyword, value: params[:keyword], class: 'form-control', placeholder: t('reviewers.contents.index.placeholder')
        %span.input-group-btn
          = f.submit t('reviewers.contents.index.search'), class: 'btn btn-primary'
    - if params[:keyword].present?
      - @result[:items].each do |item|
        .code-wrapper
          %p.filename= link_to item[:path], reviewers_repo_contents_path(@repo, path: item[:path], type: 'file')
          = link_to reviewers_repo_contents_path(@repo, path: item[:path], type: 'file'), class: 'result-panel-link' do
            .panel.panel-default.result
              %table
                - item[:text_matches]&.each.with_index do |text_match, index|
                  - if index > 0
                    %tbody.file
                      %tr
                        %td.border •••
                        %td.border
                  - text_match[:fragment].each_line.with_index do |line, index|
                    - next if index < 1
                    %tbody.file
                      %tr
                        %td.index= index
                        %td.file-code= coderay(line, item[:name])
    - else
      - case params[:type]
      - when 'dir', nil
        %p= @repo.breadcrumbs(params[:path], params[:type])
        .panel.panel-default
          %table.table.table-hover
            %tbody
              - @contents.each do |content|
                %tr
                  %td.file-name.col-sm-11
                    = link_to reviewers_repo_contents_path(@repo, path: content.path, type: content.type) do
                      %i.fas{ class: content.dir? ? 'fa-folder' : 'fa-file' }
                      &nbsp;
                      = content.name
      - when 'file'
        .code-wrapper
          %p= @repo.breadcrumbs(params[:path])
          .panel.panel-default
            - case File.extname(params[:path])
            - when '.jpg', '.png', '.jpeg', '.gif'
              %img{ src: "data:image/#{File.extname(params[:path]).gsub('.', '')};base64, #{@content.content}", class: 'img-responsive center-block' }
            - when '.pdf'
              %object{ data: "data:image/#{File.extname(params[:path]).gsub('.', '')};base64, #{@content.content}", type: 'application/pdf' }
            - else
              .table-wrapper
                %table
                  %thead
                    %tr
                      %th{ scope: 'col' }
                  - if @content.content.present?
                    - Base64.decode64(@content.content).force_encoding('UTF-8').each_line.with_index do |line, index|
                      %tbody
                        %tr
                          %td.index= index
                          %td.file-code= coderay(line, @content.path)