.col-xs-12.p-r-0.p-l-0
  .container-fluid.p-r-0.p-l-0
    %nav.aside-left-nav
      = link_to [:reviewees, @repo], class: 'aside-item current' do
        %i.fab.fa-hubspot
        .title Pulls
      = link_to reviewees_repo_analyses_path(@repo), class: 'aside-item' do
        %i.fas.fa-cogs
        .title Settings
    %main.app-main
      %header.main-header
        .title
          %span.full_name
            = @repo.full_name.truncate(40)
      .app-domainant
        %table.table.table-hover.m-t-4
          -# %thead
          -#   %tr.pull-list-header
          -#     %th Rails Best Practices
          %tbody
            %tr
              %td Rails Best Practices
              %td
                .onoffswitch
                  %input.onoffswitch-checkbox.update-pull-button{ name: 'onoffswitch', type: 'checkbox', 'repo-id': @repo.id, id: "reviewStatusSwitch#{@repo.id}" }/
                  %label.onoffswitch-label{ for: "reviewStatusSwitch#{@repo.id}" }
                    %span.onoffswitch-inner
                    %span.onoffswitch-switch