= form_with url: reviewers_repo_contents_path(repo), method: :get, local: true do |f|
  .input-group
    = f.text_field :keyword, value: params[:keyword], class: 'form-control', placeholder: t('reviewers.contents.index.placeholder')
    %span.input-group-btn
      = f.submit t('reviewers.contents.index.search'), class: 'btn btn-primary'
.reviewers-shared-repos-tab-wrapper
  %ul.nav.nav-tabs.nav-justified
    // Repository
    %li{ class: same_controller_name?('repos') }
      = link_to [:reviewers, repo], class: 'nav-link' do
        %i.fas.fa-code
        &nbsp;
        %b= t 'reviewers.repos.show.tab_title'
    // Issues
    %li{ class: same_controller_name?('contents') }
      = link_to reviewers_repo_contents_path(repo), class: 'nav-link' do
        %i.fas.fa-search
        &nbsp;
        %b= t 'reviewers.contents.index.tab_title'