.container
  .row
    .page-header{ 'repo-id': @repo.id }
      %h3= link_to @repo.full_name, [:reviewers, @repo]
    = render 'reviewers/shared/navbar', repo: @repo
    .pull-requests
      .panel.panel-default
        %table.table
          %thead.color
            %th
              .text-left
                = link_to t('.open'), [:reviewers, @repo, :pulls], class: params[:status] == 'closed' ? '' : 'active'
                = link_to t('.closed'), reviewers_repo_pulls_path(@repo, status: :closed), class: params[:status] == 'closed' ? 'active' : ''
            %th= t('.assginee')
          %tbody
            = render partial: 'reviewers/pulls/pull', collection: @pulls