.container
  .row
    .page-header{ 'repo-id': @repo.id }
      %h3= link_to @repo.full_name, [:reviewers, @repo]
    = render 'reviewers/shared/navbar', repo: @repo
    .pull-requests
      .panel.panel-default
        .panel-heading
          %h1.panel-title
            = link_to 'Open', [:reviewers, @repo, :pulls], class: params[:status] == 'closed' ? '' : 'active'
            = link_to 'Closed', reviewers_repo_pulls_path(@repo, status: :closed), class: params[:status] == 'closed' ? 'active' : ''
        %table.table
          %tbody
            = render @pulls