.col-xs-12.p-r-0.p-l-0
  .container-fluid.p-r-0.p-l-0
    %nav.aside-left-nav
      = link_to :root, class: 'aside-item' do
        %i.fas.fa-tachometer-alt
        .title
          %small Dashboard
      = link_to :reviewers_pulls, class: 'aside-item current' do
        %i.fab.fa-hubspot
        .title
          %small Pulls
      = link_to :reviewers_reviews, class: 'aside-item' do
        %i.fas.fa-history
        .title
          %small Reviews
      = link_to '#', class: 'aside-item' do
        %i.fas.fa-cogs
        .title
          %small Settings
    %main.app-main
      %header.main-header
        .title
          %span.full_name
            %small
              = link_to @repo.full_name, [:reviewers, @repo]
      .app-domainant
        %aside.app-aside
          %nav.aside-left-menu
            .aside-activity
              %header
              %ul.projects
                %li= link_to 'リポジトリをダウンロード', reviewers_repo_download_path(@pull.repo, pull_token: @pull.token), method: :post, class: 'btn btn-block btn-primary'
        .main-display
          .above-main-content
            %h1.title= @pull.title
            .menu
              %ul.list-inline.text-left
                %li.list.active
                  = link_to [:reviewers, @repo, @pull], class: 'tab active' do
                    .text-center
                      %small
                        %i.fas.fa-comments
                        Conversation
                %li.list
                  = link_to [:reviewers, @repo, @pull, :commits], class: 'tab' do
                    .text-center
                      %small
                        %i.fas.fa-align-justify
                        Commits
                        = @pull.commits.count
                %li.list
                  = link_to file_reviewers_pull_reviews_path(@pull), class: 'tab' do
                    .text-center
                      %small
                        %i.fas.fa-code
                        Files Changed
                        = @pull.changed_files.count
          .main-body
            .dashboard
              .col-sm-8.p-l-0.conversation
                .body
                  .panel.panel-default
                    .panel-body
                      .md-wrapper
                        = markdown(@pull.body)
                .review
                  .workspace
                    .conversation-wrapper
                      - @reviews.each do |review|
                        - if review.comment?
                          -# 全体へのレビューコメント
                          .review-wrapper
                            = render review
                        - review.reviewed_comments.decorate.each.with_index do |review_comment, index|
                          %li.step
                            = image_tag review_comment.step_image, class: 'step'
                            %span.path= review_comment.path
                            .comment-line
                              .panel.step{ class: review_comment.set_unread }
                                .panel-body
                                  .code-wrapper
                                    %table
                                      %thead
                                        %tr
                                          %th{ scope: 'col' }
                                      - review_comment.target_lines.each_with_index do |line, index|
                                        %tbody
                                          %tr
                                            %td.hidden= index
                                            - if line.start_with?('+')
                                              %td.markdown-highlight.bg-success.file-code= review_comment.changed_file.decorate.coderay(line)
                                            - elsif line.start_with?('-')
                                              %td.markdown-highlight.bg-danger.file-code= review_comment.changed_file.decorate.coderay(line)
                                            - elsif line.start_with?('@@')
                                              %td.markdown-highlight.bg-primary.file-code= simple_format(line)
                                            - else
                                              %td.markdown-highlight.file-code= review_comment.changed_file.decorate.coderay(line)
                                  .panel-text
                                    = render review_comment.target_comments.decorate
                                // Reply
                                .replies-wrapper
                                  .panel
                                    .panel-body{ class: review_comment.set_hidden(:replies) }
                                      - if review_comment.replies.present?
                                        = render review_comment.replies.includes(:comment, :reviewer)&.decorate
                                    .panel-footer
                                      .input
                                        %textarea{ type: 'text', class: 'form-control' }
                                      .submit
                                        %button{ type: 'button', class: 'btn btn-primary reply-submit-btn' } 返信する
                                        %input{ type: 'hidden', value: @pull.token, class: 'pull_token' }
                                        %input{ type: 'hidden', value: review_comment.id, class: 'review_comment_id' }
                                        %input{ type: 'hidden', value: review_comment.review.id, class: 'review_id' }
                                        %input{ type: 'hidden', value: review_comment.path, class: 'path' }
                                        %input{ type: 'hidden', value: review_comment.position, class: 'position' }
                                        %input{ type: 'hidden', value: review_comment.changed_file.sha, class: 'sha' }
                                        %input{ type: 'hidden', value: review_comment.commit_id, class: 'commit_id' }
                      .bottom-line
= javascript_pack_tag 'reply'
