- content_for(:no_footer_page, true)
.container-fluid
  .row
    .review
      .left-sidebar.col-sm-2.hidden-xs
        = render 'reviewers/reviews/left_sidebar', pull: @pull
      .col-sm-10.col-sm-offset-2.p-l-0
        = render 'reviewers/reviews/right_sidebar'
        .col-sm-8.col-sm-offset-2.p-l-0.conversation-wrapper
          #conversationTab.tab-content.active
            .page-header{ 'pull-id': @pull.id }
              %h1
                %strong= @pull.title
            - @reviews.each do |review|
              - if review.comment?
                -# 全体へのレビューコメント
                .review-wrapper
                  = render review
              - review.review_comments.reviewed.includes(:changed_file).decorate.each.with_index do |review_comment, index|
                %li.step
                  = image_tag review_comment.step_image, class: 'step'
                  %span.path= review_comment.path
                  = review_comment.set_read_message
                  .comment-line
                    .panel.step{ class: review_comment.set_unread }
                      .panel-body
                        .code-wrapper
                          %table
                            %thead
                              %tr
                                %th{ scope: 'col' }
                            - review_comment.target_lines.each_with_index do |line, index|
                              %tbody
                                %tr
                                  %td.hidden= index
                                  - if line.start_with?('+')
                                    %td.markdown-highlight.bg-success.file-code= review_comment.changed_file.decorate.coderay(line)
                                  - elsif line.start_with?('-')
                                    %td.markdown-highlight.bg-danger.file-code= review_comment.changed_file.decorate.coderay(line)
                                  - elsif line.start_with?('@@')
                                    %td.markdown-highlight.bg-primary.file-code= simple_format(line)
                                  - else
                                    %td.markdown-highlight.file-code= review_comment.changed_file.decorate.coderay(line)
                        .panel-text
                          = render review_comment.target_comments
                      .panel-footer
                        .text-right
                          .menu.code-button{ 'repo-id': @pull.repo.id, 'changed-file-id': review_comment.changed_file.id }
                            %i.fas.fa-code
                          .menu.thread-button{ class: review_comment.set_active }
                            %i.far.fa-comments{ class: review_comment.set_active }
                      // Reply
                      .replies-wrapper{ class: review_comment.set_hidden(:unread_replies) }
                        .panel
                          .panel-body{ class: review_comment.set_hidden(:replies) }
                            - if review_comment.replies.present?
                              = render review_comment.replies.includes(:comment, :reviewer)&.decorate
                          .panel-footer
                            .input
                              %input{ type: 'text', class: 'form-control' }
                            .submit
                              %button{ type: 'button', class: 'btn btn-primary reply-submit-btn' } 返信する
                              %input{ type: 'hidden', value: @pull.token, class: 'pull_token' }
                              %input{ type: 'hidden', value: review_comment.id, class: 'review_comment_id' }
                              %input{ type: 'hidden', value: review_comment.review.id, class: 'review_id' }
                              %input{ type: 'hidden', value: review_comment.path, class: 'path' }
                              %input{ type: 'hidden', value: review_comment.position, class: 'position' }
                              %input{ type: 'hidden', value: review_comment.changed_file.id, class: 'changed_file_id' }
                              %input{ type: 'hidden', value: review_comment.changed_file.commit_id, class: 'commit_id' }
                      // Contents
                      .code-wrapper.hidden
                        .panel
                          .table-wrapper
                            %table
                              %thead{ id: "code#{index}" }
                                %tr
                                  %th{ scope: 'col' }
            .bottom-line
          .m-t-10.m-b-4
            = render 'reviewers/reviews/tab_contents', pull: @pull, commits: @commits
= javascript_pack_tag 'issues'
= javascript_pack_tag 'review-tab'
= javascript_pack_tag 'reply'
= javascript_pack_tag 'changed-files'
