.container
  .row
    .page-header
      %h3= link_to @repo.full_name, [:reviewers, @repo]
    = render 'reviewers/shared/navbar', repo: @repo
  .row
    .changed_files
      %h2.title= @pull.title
      .tab= render 'reviewers/shared/pulls/tab', pull: @pull, repo: @repo
      .diffs= render @changed_files
