.container
  .row
    .page-header{ 'repo-id': @repo.id }
      %h3= link_to @repo.full_name, [:reviewers, @repo]
    = render 'reviewers/shared/navbar', repo: @repo
  .row
    .commit
      %h2.title= @pull.title
      .tab= render 'reviewers/shared/pulls/tab', pull: @pull, repo: @repo
      .content-show-wrapper
        .page-header
          %h4
            = @res['path']
        .panel.panel-default
          .panel-heading
            %b= t 'views.bytes', byte: @res['size']
          .table-wrapper
            %table
              %thead
                %tr
                  %th{ scope: 'col' }
              - if @res['content']
                - decode_by_base64(@res['content'])&.each_line&.with_index do |line, index|
                  %tbody
                    %tr
                      %td.index= index
                      %td.file-code= coderay(line, @res['path'])
