.js-blob-wrapper
  .panel.panel-default.changed-file-list-wrapper
    .panel-heading
      .pull-right
        = link_to t('views.view'), [:reviewers, changed_file.pull.repo, changed_file.pull, changed_file], class: 'btn btn-default btn-sm'
      .changed-file-name= changed_file.filename
    .panel-body.file-border{ 'changed-file-id': changed_file.id }
      .panel-text
        .table-wrapper
          %table
            %thead
              %tr
                %th{ scope: 'col' }
            %tbody
              - changed_file.patch&.each_line&.with_index do |line, index|
                %tr.code-tr{ 'data-line-number': index }
                  - if line.start_with?('+')
                    %td.markdown-highlight.bg-success.hljs-addition.file-code= changed_file.coderay(line)
                  - elsif line.start_with?('-')
                    %td.markdown-highlight.bg-danger.hljs-addition.file-code= changed_file.coderay(line)
                  - elsif line.start_with?('@@')
                    %td.markdown-highlight.bg-primary.hljs-addition.file-code
                      %pre= line
                  - else
                    %td.markdown-highlight.hljs-addition.file-code= changed_file.coderay(line)