- if review_comment.reviewed?
  = markdown(review_comment.body)
- if review_comment.replied?
  .panel-text
    .image
      = image_tag review_comment.avatar, class: 'img-responsive img-circle'
    .nickname
      = review_comment.nickname
    .date
      .text-muted= date_format(review_comment.updated_at)
    - unless review_comment.read?
      .label.label-danger.unread= I18n.t('reviewers.reviews.read.unread')
      .pull-right
        %button.btn.btn-primary.read-btn{ type: 'button', 'reply-id': review_comment.id } 対応済みにする
    .replies-line{ class: review_comment.is_last?(review_comment.comment) }
      .body
        = markdown(review_comment.body)
  = render review_comment.replies&.decorate