- if review_comment.reviewed?
  = markdown(review_comment.body)
- if review_comment.replied?
  .panel-text
    .pull-right
      .dropdown
        %i.fas.fa-ellipsis-v.dropdown-toggle{ 'aria-expanded': 'false', 'data-toggle': 'dropdown' }
        %ul.text-right.dropdown-menu{role: "menu"}
          %li
            %a.comment-edit{ href: '#', 'comment-id': review_comment.id } 編集
    .image
      = image_tag review_comment.avatar, class: 'img-responsive img-circle'
    .nickname
      = review_comment.nickname
    .date
      .text-muted= date_format(review_comment.created_at)
    .replies-line{ class: review_comment.last?(review_comment.comment) }
      .body
        .md-wrapper= markdown(review_comment.body)
  = render review_comment.replies&.decorate