.col-xs-12
  .container
    .reviewee-dashboard-wrapper
      %h2
        %i.fab.fa-github
        = current_reviewee.nickname.truncate(20)
      = link_to ENV['GITHUB_APP_URL'], class: 'btn btn-primary m-t-1', target: '_blank' do
        %i.fas.fa-plus-circle
        = t('.add_project')
      %table.table.table-hover.m-t-4
        %thead
          %tr.repo-list-header
            %th= t('.project')
        - @repos.each_with_index do |repo, i|
          %tbody
            %tr.repo-list{ class: i % 2 == 0 ? 'add-light-blue' : '' }
              %td= link_to repo.name_including_orgs, reviewees_repo_path(repo)