.container.main
  .row
    .col
    .col-8
      - @pulls.each do |pull|
        .card.pull
          .card-body.text-dark
            %h5.card-title.title= link_to pull.title, pull.decorate.remote_url, target: '_blank'
            .user
              .avatar
                = link_to pull.user.decorate.html_url, target: '_blank' do
                  = image_tag pull.user.avatar_url, alt: '', height: '', width: '40', class: 'rounded-circle'
              .info
                .created_at= l pull.remote_created_at
                %b.name= pull.user.name
            .tags
              - pull.tags.each do |tag|
                %span.tag= tag.name
            .card-text.body= pull.body.gsub(/[\r\n]/, '').truncate(300)
            .reviewers
              // @TODO データで管理できるようにしたらないときはhideできるようにif文追加
              .title レビュ-している人
              - pull.reviewers.each do |reviewer|
                .reviewer
                  = link_to reviewer[:html_url], target: '_blank' do
                    = image_tag reviewer[:avatar_url], alt: '', height: '', width: '30', class: 'rounded-circle'
            .repo
              .name
                .label リポジトリ名
                .column= link_to pull.name, pull.repo.decorate.remote_url, target: '_blank'
              - if pull.description
                .description
                  .label サービス概要
                  .column= pull.description
              - if pull.homepage
                .homepage
                  .label サービスURL
                  .column= link_to pull.homepage, pull.homepage, target: '_blank'
      = paginate @pulls
    .col