.container.main
  .row
    .col
    .col-7
      %p プルリクエストを選択してコードレビューすることができます。
      - @pulls.each do |pull|
        .card.pull
          .card-body.text-dark
            %h3.card-title.title
              = octicon 'git-pull-request', height: 27
              = link_to pull.title, pull.decorate.remote_url, target: '_blank', class: 'stretched-link'
            .user
              .avatar
                = link_to pull.user.decorate.html_url, target: '_blank' do
                  = image_tag pull.user.avatar_url, alt: '', height: '', width: '40', class: 'rounded-circle'
              .info
                .created_at= l pull.remote_created_at
                %b.name= pull.user.name
            .tags
              %ul.tags
                - pull.tags.each do |tag|
                  %li
                    %a{ href: '#' }
                      %span= tag.name
            .card-text.body= pull.body.gsub(/[\r\n]/, '').truncate(300)
            .reviewers
              // @TODO データで管理できるようにしたらないときはhideできるようにif文追加
              .title レビュ-している人
              - pull.reviewers.each do |reviewer|
                .reviewer
                  = link_to reviewer[:html_url], target: '_blank' do
                    = image_tag reviewer[:avatar_url], alt: '', height: '', width: '30', class: 'rounded-circle'
            .repo
              .name
                .label
                  = octicon 'repo'
                  リポジトリ名
                .column= link_to pull.name, pull.repo.decorate.remote_url, target: '_blank'
              - if pull.description
                .description
                  .label サービス概要
                  .column= pull.description
              - if pull.homepage
                .homepage
                  .label サービスURL
                  .column= link_to pull.homepage, pull.homepage, target: '_blank'
      = paginate @pulls
    .col.side
      %p Myタグ
      %ul#myTag.tags
        - @tags.each do |tag|
          %li
            %a{ href: '#' }
              %span= tag.name
      %hr
      .text-right
        %i.far.fa-edit.edit
      #edit.d-none
        %input{ type: 'text', id: 'tagInput', class: 'form-control form-control-sm' }
        .text-right
          %button#addTag.btn.btn-primary{ type: 'buttton' } 追加
        #tagErrorMessage

= javascript_pack_tag 'tags'