.container.main
  .row
    .col
    .col-7
      %p プルリクエストを選択してコードレビューすることができます。
      .feed
        - @pulls.each do |pull|
          .card.pull
            .card-body.text-dark
              %h3.card-title.title
                = octicon 'git-pull-request', height: 27
                = link_to pull.title, pull.decorate.remote_url, target: '_blank', class: 'stretched-link'
              .user
                .avatar
                  = link_to pull.user.decorate.html_url, target: '_blank' do
                    = image_tag pull.user.avatar_url, alt: '', height: '', width: '40', class: 'rounded-circle'
                .info
                  .created_at= l pull.remote_created_at
                  %b.name= pull.user.name
              .tags
                %ul.tags
                  - pull.tags.each do |tag|
                    %li
                      %a{ href: '#' }
                        %span= tag.name
              .card-text.body= pull.body.gsub(/[\r\n]/, '').truncate(300)
              .reviewers
                // @TODO データで管理できるようにしたらhideできるようにif文追加
                .title レビュ-している人
                - pull.reviewers.each do |reviewer|
                  .reviewer
                    = link_to reviewer[:html_url], target: '_blank' do
                      = image_tag reviewer[:avatar_url], alt: '', height: '', width: '30', class: 'rounded-circle'
              .repo
                .name
                  .label
                    = octicon 'repo'
                    プロダクト名
                  .column= link_to pull.name, pull.repo.decorate.remote_url, target: '_blank'
                - if pull.description
                  .description
                    .label プロダクト概要
                    .column= pull.description
                - if pull.homepage
                  .homepage
                    .label プロダクトURL
                    .column= link_to pull.homepage, pull.homepage, target: '_blank'
      = paginate @pulls
    .col.side
      %a.review{ 'data-target': '#integrationModal', 'data-toggle': 'modal', href: '#' } レビューを受けるには？
      #integrationModal.modal.fade{ 'aria-labelledby': 'myModalLabel', role: 'dialog', tabindex: '-1' }
        .modal-dialog.modal-xl{ role: 'document' }
          .modal-content.intro
            .modal-header
              %h5#exampleModalLabel.modal-title レビューを受けるには？
              %button.close{ 'aria-label': '閉じる', 'data-dismiss': 'modal', type: 'button' }
                %span{ 'aria-hidden': 'true' } ×
            .modal-body
              .container-fluid
                .row.space
                  .col-md-5.text-left
                    %h5.title
                      %b GitHub Appのインストール
                    %hr
                    %p.description
                      Github Appをインストールしてください。
                      Github Appに追加されたリポジトリをCodeReviewで取り扱うことができます。
                      = link_to 'GitHub Appをインストールする', ENV['GITHUB_APP_URL'], target:  '_blank'
                  .col-md-7= image_tag 'https://i.imgur.com/mnKcpU2.png', class: 'img-fluid img-thumbnail'
                .row.space
                  .col-md-5.text-left
                    %h5.title
                      %b GitHub Appにアクセス権限を与える
                    %hr
                    %p.description
                      CodeReviewがプルリクエストにアクセスできるように対象のリポジトリにアクセス権限を与えてください。
                      アクセス権限を与えると、CodeReviewに同期されます。
                  .col-md-7= image_tag 'https://i.imgur.com/iHKyOWx.png', class: 'img-fluid img-thumbnail'
                .row.space
                  .col-md-5.text-left
                    %h5.title
                      %b プルリクエストを公開する
                    %hr
                    %p.description
                      同期したリポジトリのプルリクエストを公開するとレビュアーからレビューをもらうことができます。
                  .col-md-7= image_tag 'https://i.imgur.com/IXDVohS.png', class: 'img-fluid img-thumbnail'
                .row.space
                  .col-md-5.text-left
                    %h5.title
                      %b レビュアーを評価する
                    %hr
                    %p.description
                      レビューを受け取ったら返信や評価をしましょう。
                  .col-md-7= image_tag 'https://i.imgur.com/CtlSQWe.png', class: 'img-fluid img-thumbnail'
            .modal-footer
              %button.btn.btn-primary{ 'aria-label': '閉じる', 'data-dismiss': 'modal', type: 'button' } 閉じる
      %br
      %a.review{ 'data-target': '#reviewModal', 'data-toggle': 'modal', href: '#' } レビューをするには？
      #reviewModal.modal.fade{ 'aria-labelledby': 'myModalLabel', role: 'dialog', tabindex: '-1' }
        .modal-dialog.modal-xl{ role: 'document' }
          .modal-content.intro
            .modal-header
              %h5#exampleModalLabel.modal-title レビューをするには？
              %button.close{ 'aria-label': '閉じる', 'data-dismiss': 'modal', type: 'button' }
                %span{ 'aria-hidden': 'true' } ×
            .modal-body
              .container-fluid
                .row.space
                  .col-md-5.text-left
                    %h5.title
                      %b ダッシュボードからレビューする
                    %hr
                    %p.description
                      プルリクエストのタイトルをクリックすると、GitHub上のプルリクエストに遷移しますのでコードレビューをしてください。
                  .col-md-7= image_tag 'https://i.imgur.com/2EXJHI6.png', class: 'img-fluid img-thumbnail'
                .row.space
                  .col-md-5.text-left
                    %h5.title
                      %b レビューリクエスト(メール)からレビューする
                    %hr
                    %p.description
                      レビューのリクエストメールに書かれているプルリクエストリンク をクリックすると、GitHub上のプルリクエスト上に遷移しますのでコードレビューをしてください。
                  .col-md-7= image_tag 'https://i.imgur.com/xZPIK52.png', class: 'img-fluid img-thumbnail'
                .row.space
                  .col-md-5.text-left
                    %h5.title
                      %b 気になったコードにレビューする
                    %hr
                    %p.description
                      差分コードを確認して気になったコードにレビューします。
                  .col-md-7= image_tag 'https://i.imgur.com/42Vqdz7.png', class: 'img-fluid img-thumbnail'
                .row.space
                  .col-md-5.text-left
                    %h5.title
                      %b まとめのレビューは Comment に
                    %hr
                    %p.description
                      差分コード全体に対するまとめのレビューは Comment で投稿しましょう。
                  .col-md-7= image_tag 'https://i.imgur.com/GN1gN10.png', class: 'img-fluid img-thumbnail'
                .row.space
                  .col-md-5.text-left
                    %h5.title
                      %b レビューは完了します
                    %hr
                    %p.description
                      以上でレビューは完了します。レビュイーや他のエンジニアからの反応があるかもしれません。
                      レビューはあなたのポートフォリオにもなります。
                  .col-md-7= image_tag 'https://i.imgur.com/3gqJkHj.png', class: 'img-fluid img-thumbnail'
            .modal-footer
              %button.btn.btn-primary{ 'aria-label': '閉じる', 'data-dismiss': 'modal', type: 'button' } 閉じる
      %hr
      %p Myタグ
      %ul#myTag.tags
        - @tags.each do |tag|
          %li
            %a{ href: '#' }
              %span= tag.name
      %hr
      .text-right
        %i.far.fa-edit.edit
      #edit.d-none
        %input{ type: 'text', id: 'tagInput', class: 'form-control form-control-sm', placeholder: 'Ruby' }
        .text-right
          %button#addTag.btn.btn-primary{ type: 'buttton' } 追加
        #tagErrorMessage

= javascript_pack_tag 'tags'