%tr
  %td= reviewee.github_account&.nickname
  %td
    - if reviewee.github_account&.avatar_url
      = image_tag reviewee.github_account&.avatar_url, class: 'img-responsive center-block', style: 'width: 50px;'
    - else
      ×
  %td= reviewee.email
  %td= reviewee.github_account&.user_type
  %td.text-center
    - if reviewee.orgs.exists?(id: @org.id)
      = link_to '削除', admins_reviewee_org_path(@org.reviewee_org_id(reviewee.id)), method: :delete, class: 'btn btn-danger'
    - else
      = link_to '追加', admins_org_reviewee_orgs_path(org_id: @org.id, reviewee_id: reviewee.id), method: :post, class: 'btn btn-primary'