= @reviewer.github_account.login + 'さん、こんにちは。'

= @review.pull_title
= 'のレビューが審査を通過しました。'
\
\
= simple_format(@review.reason)
\
\
= Settings.top + "reviewers/pulls/#{@review.pull_token.to_s}/reviews/#{@review.id}/replies"
