= @reviewer.github_account.login + 'さん、こんにちは。'

= link_to @pull.title, Settings.top + "reviewers/pulls/#{@pull.token.to_s}/reviews/view_check"
\
\
%small= simple_format(@reply.body)
\
\
= link_to 'プルリクエストを確認する', Settings.top + "reviewers/pulls/#{@pull.token.to_s}/reviews/view_check"
