-# .container-fluid.head
-#   %p
-#     %h1.top-literal PushRequest
-#     %p.top-literal.text-center
-#       PushRequestはコードレビューのマーケットプレイスです
-#       %br
-#       あなたのプルリクエストを公開することでコードの品質を上げることができます
-#     .container
-#       .col-xs-12
-#         .col-xs-6
-#           .text-center
-#             .target レビューを受けたい方
-#             %br
-#             = link_to '新規登録/ログイン', new_reviewee_session_path, class: 'btn btn-block btn-primary'
-#         .col-xs-6
-#           .text-center
-#             .target レビューをしたい方
-#             %br
-#             = link_to '新規登録/ログイン', new_reviewer_session_path, class: 'btn btn-block btn-primary'

//
// Landing
//
.container-fluid.head
  .container
    %h1.text-center
      %span.one 1
      クリックでプロのコードレビューが届く
    .col-sm-5.col-xs-12.right-block
      .description
        OpenCIは、コードレビューのマーケットプレイスです。
        %br
        開発現場の第一線で培われたエンジニアの生の知見を
        %br
        Pullrequest単位で購入することができます。
      .signup.text-center= link_to '新規登録/ログイン', new_reviewee_session_path, class: 'btn btn-primary'
    .col-sm-7.col-xs-12
      = image_tag '/service-sample.png', class: 'img-responsive'
//
// Demo
//
.container-fluid.reviewers
  .container
    %h1.text-center Lead Engineers
    .col-sm-8.col-xs-12.right-block
      .description
        OpenCIには実績のあるエンジニアが登録しています。
        %br
        OpenCI認定エンジニアを公開しています。
      .signup= link_to 'OpenCI認定ユーザーを見る', new_reviewee_session_path
    .col-sm-4.col-xs-12.text-center
      .row
        .col-sm-4 Comming
        .col-sm-4 Comming
        .col-sm-4 Comming
      .row
        .col-sm-4 Comming
        .col-sm-4= image_tag 'http://crowdworks.jp/images/banners/150_38.png', class: 'img-responsive'
        .col-sm-4= image_tag '/logo/circle_ci.png', class: 'img-responsive'
.container-fluid.introduction
  .container
    .signup.text-center= link_to '新規登録/ログイン', new_reviewee_session_path, class: 'btn btn-primary'
    -# %h1.text-center
    -#   %span.one 1
    -#   クリックでプロのコードレビューが届く
    -# .col-sm-5.col-xs-12.right-block
    -#   .description
    -#     OpenCIは、コードレビューのマーケットプレイスです。
    -#     %br
    -#     開発現場の第一線で培われたエンジニアの生の知見を
    -#     %br
    -#     Pullrequest単位で購入することができます。
    -#   .signup.text-center= link_to '新規登録/ログイン', new_reviewee_session_path, class: 'btn btn-primary'
    -# .col-sm-7.col-xs-12
    -#   = image_tag '/service-sample.png', class: 'img-responsive'