= 'Mergeeのご利用ありがとうございます。'
= 'メールアドレス確認のためご連絡いたしました。'
= 'このメールアドレスをシェアダインに登録してよい場合は、 以下のリンクをクリックして続行してください。'
= "#{Settings.links.home}/reviewees/confirmation?confirmation_token=#{@token}"
= '【心あたりのない場合】'
= 'このメールは無視してください。'
= 'Mergeeのサービスでこのメールアドレスが入力されたので'
= 'メールを送信しましたが、入力間違いで、あなたに届いてしまいました。'
= 'ご迷惑をおかけして申し訳ございませんでした。'
