.col-xs-12.p-r-0.p-l-0
  .container-fluid.p-r-0.p-l-0
    %nav.aside-left-nav
      = link_to [:reviewees, @repo], class: 'aside-item' do
        %i.fab.fa-hubspot
        .title Pulls
      = link_to reviewees_repo_settings_path(@repo), class: 'aside-item current' do
        %i.fas.fa-cogs
        .title Settings
    %main.app-main
      %header.main-header
        .title
          %span.full_name
            = @repo.full_name.truncate(40)
      .app-domainant
        開発中....
        -# %table.table.table-hover.m-t-4
        -#   - StaticAnalysis.all.each do |static_analysis|
        -#     %tbody
        -#       %tr
        -#         %td= static_analysis.title
        -#         %td
        -#           .onoffswitch
        -#             %input.onoffswitch-checkbox.update-repo-analysis-button{ checked: @repo.introduced?(static_analysis) ? true : false, name: 'onoffswitch', type: 'checkbox', 'repo-analysis-id': @repo.analysis_id(static_analysis), 'repo-id': @repo.id, 'search-name': static_analysis.search_name, id: "analysisSwitch#{static_analysis.id}" }/
        -#             %label.onoffswitch-label{ for: "analysisSwitch#{static_analysis.id}" }
        -#               %span.onoffswitch-inner
        -#               %span.onoffswitch-switch
= javascript_pack_tag 'update-resource'
