.col-xs-12.p-r-0.p-l-0
  .container-fluid.p-r-0.p-l-0
    %nav.aside-left-nav
      = link_to [:reviewees, @repo], class: 'aside-item current' do
        %i.fab.fa-hubspot
        .title Pulls
      = link_to reviewees_repo_analyses_path(@repo), class: 'aside-item' do
        %i.fas.fa-cogs
        .title Settings
    %main.app-main
      %header.main-header
        .title
          %span.full_name
            = @repo.full_name.truncate(40)
      .app-domainant
        - if @repo.template
          %table.table.table-hover.m-t-4
            %thead
              %tr.pull-list-header
                %th= t('.status')
                %th= t('.title')
                %th= t('.created')
                %th= t('.review_status')
            = render partial: 'reviewees/pulls/pull', collection: @pulls, locals: { repo: @repo, pull: @pull }
        - else
          %p.description
            リポジトリにテンプレートを追加しましょう。
            %br
            テンプレートに沿って作成されたプルリクエストはコードの可読性を高め、より質の高いコードレビューを受けることができます。
          .md-wrapper
            .page-header
              %h3.title プルリクエストの説明文のテンプレート
            %p.add
              以下のリンクからテンプレートをダウンロードして.githubディレクトリ配下にテンプレートを追加してください。
              (例:
              %code .github/PULL_REQUEST_TEMPLATE.md
              )
            %p= link_to 'ダウンロード', download_reviewees_repos_path(file_name: 'PULL_REQUEST_TEMPLATE.md'), class: 'btn btn-primary'
            = image_tag '/pr-template-example.png', class: 'img-responsive center-block'
            %hr
            .text-center= link_to '設定を完了する', reviewees_repo_template_path(@repo), method: :put, class: 'btn btn-primary'
= javascript_pack_tag 'update-resource'
