%tbody
  %tr.pull-list
    %td{ class: pull.completed? ? 'add-merged-color' : 'add-success-color' }= t "statuses.#{pull.status}"
    %td= link_to pull.title&.truncate(40), pull.decorate.remote_url, target: 'blank'
    %td= pull.lines
    %td= pull.reward
    %td= date_format(pull.remote_created_at)
    %td
      - pull.tags.each do |tag|
        %span.label.label-warning= tag.name
    %td
      - if pull.need_to_operate?
        .onoffswitch
          %input.onoffswitch-checkbox.update-pull-button{ checked: pull.is_work_in_progress? ? true : false, name: 'onoffswitch', type: 'checkbox', 'pull-id': pull.id, id: "reviewStatusSwitch#{pull.id}" }/
          %label.onoffswitch-label{ for: "reviewStatusSwitch#{pull.id}" }
            %span.onoffswitch-inner
            %span.onoffswitch-switch