%ul.nav.nav-tabs
  %li{ class: same_controller_and_action_name?('pulls', 'show') }
    = link_to [:reviewers, repo, pull], class: 'nav-link' do
      %i.glyphicon.glyphicon-comment
      &nbsp;
      = t 'reviewers.pulls.show.conversation'
  %li{ class: same_controller_name?(%w(commits)) }
    = link_to [:reviewers, repo, pull, :commits], class: 'nav-link' do
      %i.fas.fa-history
      &nbsp;
      = t 'reviewers.pulls.show.commits'
      &nbsp;
      %span.badge.badge-default= pull.commits.count
  %li{ class: same_controller_name?(%w(changed_files)) }
    = link_to [:reviewers, repo, pull, :changed_files], class: 'nav-link' do
      %i.glyphicon.glyphicon-file
      &nbsp;
      = t 'reviewers.pulls.show.changed_files'
      &nbsp;
      %span.badge.badge-default= pull.files_changed.count
