.container
  .row
    .page-header{ 'repo-id': @repo.id }
      %h3= link_to @repo.full_name, [:reviewers, @repo]
    = render 'reviewers/shared/navbar', repo: @repo
  .row
    .commit
      %h2.title= @pull.title
      .tab= render 'reviewers/shared/pulls/tab', pull: @pull, repo: @repo
      - if @changed_files.present?
        .diffs= render partial: 'reviewers/changed_files/changed_file', collection: @changed_files, locals: { repo: @repo, pull: @pull }
      - else
        = t '.no_changhed_files'
