.col-md-6.col-xs-12.col-md-offset-3
  %h3.text-center
    %b 審査員になる
  %hr
    = form_for(resource, as: resource_name, url: registration_path(resource_name, html: { class: 'form-horizontal' })) do |f|
      = devise_error_messages!
      .form-group
        .input-group
          %span.input-group-addon
            %i.fas.fa-envelope
          = f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('helpers.links.email'), required: true
      .form-group
        .input-group
          %span.input-group-addon
            %i.fas.fa-lock
          = f.password_field :password, class: 'form-control', placeholder: t('helpers.links.password'), required: true
      .form-group
        .input-group
          %span.input-group-addon
            %i.fas.fa-check
          = f.password_field :password_confirmation, class: 'form-control', placeholder: t('helpers.links.password_confirm'), required: true
      %p
        サービスを通して閲覧・取得したコードの転用・漏洩等を禁止します。
        %br
        秘密保持契約書を確認して、お名前・住所をフォームにご入力ください。
        .text-danger
          新規登録で秘密保持契約は結ばれません。
          %br
          面談後に電子署名を完了することで契約が結ばれます。
      %p
        %b 秘密保持契約書
      .panel.panel-default
        .panel-body.scroll-area
          %p
          　Resource株式会社（以下「甲」という。）とXXX（以下「乙」という。）とは、
          甲乙間の取引について検討するにあたり（以下「本取引」という。）、甲又は乙が相手方に開示する秘密情報の取扱いについて、以下のとおりの秘密保持契約（以下「本契約」という。）を締結する。

          %h4
            %b 第1条（秘密情報）
          %p
            　本契約における「秘密情報」とは、甲又は乙が相手方に開示し、かつ開示の際に秘密であ
            る旨を明示した技術上又は営業上の情報、本契約の存在及び内容その他一切の情報をいう。
            ただし、開示を受けた当事者が書面によってその根拠を立証できる場合に限り、以下の情
            報は秘密情報の対象外とするものとする。
            (1)開示を受けたときに既に保有していた情報
            (2)開示を受けた後、秘密保持義務を負うことなく第三者から正当に入手した情報
            (3)開示を受けた後、相手方から開示を受けた情報に関係なく独自に取得し、又は創出した
            情報
            (4)開示を受けたときに既に公知であった情報
            (5)開示を受けた後、自己の責めに帰し得ない事由により公知となった情報

          %h4
            %b 第2条（秘密情報等の取扱い）
          %p
            甲又は乙は、相手方から開示を受けた秘密情報及び秘密情報を含む記録媒体若しくは物件（複写物及び複製物を含む。以下「秘密情報等」という。）の取扱いについて、次の各号に定める事項を遵守するものとする。
            (1)情報取扱管理者を定め、相手方から開示された秘密情報等を、善良なる管理者としての注意義務をもって厳重に保管、管理する。
            (2)秘密情報等は、本取引の目的以外には使用しないものとする。
            (3)秘密情報等を複製する場合には、本取引の目的の範囲内に限って行うものとし、その複製物は、原本と同等の保管、管理をする。
            (4)漏えい、紛失、盗難、盗用等の事態が発生し、又はそのおそれがあることを知った場合は、直ちにその旨を相手方に書面をもって通知する。
            (5)秘密情報の管理について、取扱責任者を定め、書面をもって取扱責任者の氏名及び連絡先を相手方に通知する。
            甲又は乙は、次項に定める場合を除き、秘密情報等を第三者に開示する場合には、書面により相手方の事前承諾を得なければならない。この場合、甲又は乙は、当該第三者との間で本契約書と同等の義務を負わせ、これを遵守させる義務を負うものとする。
            甲又は乙は、法令に基づき秘密情報等の開示が義務づけられた場合には、事前に相手方に通知し、開示につき可能な限り相手方の指示に従うものとする。

          %h4
            %b 第3条（返還義務等）
          %p
            本契約に基づき相手方から開示を受けた秘密情報を含む記録媒体、物件及びその複製物（以下「記録媒体等」という。）は、不要となった場合又は相手方の請求がある場合には、直ちに相手方に返還するものとする。
            前項に定める場合において、秘密情報が自己の記録媒体等に含まれているときは、当該秘密情報を消去するとともに、消去した旨（自己の記録媒体等に秘密情報が含まれていないときは、その旨）を相手方に書面にて報告するものとする。

          %h4
            %b 第4条（損害賠償等）
          %p
          　甲若しくは乙、甲若しくは乙の従業員若しくは元従業員又は第二条第二項の第三者
          が相手方の秘密情報等を開示するなど本契約の条項に違反した場合には、甲又は乙は、相手方が必要と認める措置を直ちに講ずるとともに、相手方に生じた損害を賠償しなければならない。

          %h4
            %b 第5条（有効期限）
          %p
          　本契約の有効期限は、本契約の締結日から起算し、満1年間とする。期間満了後の1ヵ月
          前までに甲又は乙のいずれからも相手方に対する書面の通知がなければ、本契約は同一条件
          でさらに1年間継続するものとし、以後も同様とする。

          %h4
            %b 第6条（協議事項）
          %p
          　本契約に定めのない事項について又は本契約に疑義が生じた場合は、協議の上解決する。

          %h4
            %b 第7条（管轄）
          %p
          　本契約に関する紛争については東京簡易裁判所を第一審の専属管轄裁判所とする。
          本契約締結の証として、本書を二通作成し、両者署名又は記名捺印の上、各自一通を保有する。

          %hr
          %p YYYY年MM月DD日

          %p
            （甲）
            住所・法人名義（屋号）・代表者名義
          %p
            （乙）
            住所・法人名義（屋号）・代表者名義

      .form-group
        .input-group
          %span.input-group-addon
            %i.fas.fa-user
          = f.text_field :name, class: 'form-control', placeholder: t('helpers.links.name'), required: true
      .form-group
        .input-group
          %span.input-group-addon
            %i.fas.fa-at
          = f.text_field :address, class: 'form-control', placeholder: t('helpers.links.address'), required: true
      .form-group
        = f.check_box :agreement, as: :boolean, checked: false, required: true
        = link_to :term do
          = t('helpers.links.agreement')
        %span に同意する

      .form-group.text-left
        = f.submit '新規登録', class: 'btn btn-primary'
      .form-group.text-left
        = render 'reviewers/shared/links'
