- content_for(:no_flash_msg_page, true)
.container-fluid
  .row
    .review
      .left-sidebar.col-sm-2.hidden-xs
        = render 'reviewers/reviews/left_sidebar', pull: pull, review: review, reviews: @reviews
      .col-sm-10.col-sm-offset-2
        .col-sm-9.col-sm-offset-1.workspace
          = render 'shared/flash_msg'
          = render 'reviewers/reviews/right_sidebar'
          .m-t-10.m-b-4
            / code
            #codeTab.tab-content
              .page-header{ 'pull-id': pull.id }
                %h1
                  %strong= pull.title
              = form_for [:reviewers, pull, review], html: { class: 'form-horizontal', role: 'form' } do |f|
                %i.fa.fa-chevron-circle-right.hidden.open-left-side
                .data_id{ 'pull-id': pull.id, 'reviewer-id': current_reviewer.id }
                .reviews-form-wrapper
                  .reviews-form-card-wrapper.editor
                    = render changed_files
                    %h4.title コード全体へのレビュー
                    = f.text_area :body, id: 'review_body', class: 'form-control', rows: '5'
                    .text-right.p-r-0.m-t-1
                      %button#reviewSubmit.btn.btn-outline-primary{ type: 'button' } チェックする
                      #reviewSubmitModal.modal.fade
                        .modal-dialog
                          .modal-content
                            .modal-body
                              .text-left
                                // @TODO 後で変更するかもしれないので一旦localizeなし
                                %label.check
                                  = check_box_tag :syntax
                                  誤字はないか。
                                %br
                                %label.check
                                  = check_box_tag :expression
                                  開発者が理解しにくい曖昧な表現はないか。
                                %br
                                %label.check
                                  = check_box_tag :code
                                  可能な限りソースコードを提示できているか。
                                %br
                                %label.check
                                  = check_box_tag :link
                                  伝え切れない内容は参考リンクを貼って補足できているか。
                            .modal-footer
                              = f.submit t('.finish'), id: 'submit_review_button', class: 'btn btn-outline-primary', disabled: true
                    %br
                    %br
                    %br
            = render 'reviewers/reviews/tab_contents', pull: pull, commits: commits
