.col-xs-12.p-r-0.p-l-0
  .container-fluid.p-r-0.p-l-0
    %nav.aside-left-nav
      = link_to :root, class: 'aside-item' do
        %i.fas.fa-tachometer-alt
        .title
          %small Dashboard
      = link_to :reviewers_pulls, class: 'aside-item current' do
        %i.fab.fa-hubspot
        .title
          %small Pulls
      = link_to :reviewers_reviews, class: 'aside-item' do
        %i.fas.fa-history
        .title
          %small Reviews
      = link_to '#', class: 'aside-item' do
        %i.fas.fa-cogs
        .title
          %small Settings
    %main.app-main
      %header.main-header
        .title
          %span.full_name
            %small= link_to @repo.full_name, [:reviewers, @repo]
      .app-domainant
        %aside.app-aside
          %nav.aside-left-menu
            .aside-activity
              %header
              %ul.projects
                %li= link_to 'リポジトリをダウンロード', reviewers_repo_download_path(@pull.repo, pull_token: @pull.token), method: :post, class: 'btn btn-block btn-primary'
        .main-display
          .above-main-content
            = render 'shared/flash'
            %h1.title= @pull.title
            .pull-right
              %button#reviewSubmit.btn.btn-primary{ type: 'button', 'data-backdrop': 'false' } 提出する
            .menu
              %ul.list-inline.text-left
                %li.list
                  = link_to [:reviewers, @repo, @pull], class: 'tab' do
                    .text-center
                      %small
                        %i.fas.fa-comments
                        Conversation
                %li.list
                  = link_to [:reviewers, @repo, @pull, :commits], class: 'tab' do
                    .text-center
                      %small
                        %i.fas.fa-align-justify
                        Commits
                %li.list
                  = link_to [:reviewers, @pull, :issues], class: 'tab' do
                    .text-center
                      %small
                        %i.fas.fa-file
                        Issues
                %li.list.active
                  = link_to file_reviewers_pull_reviews_path(@pull), class: 'tab active' do
                    .text-center
                      %small
                        %i.fas.fa-code
                        Files Changed
          .main-body
            .dashboard
              .review
                .workspace
                  = form_for [:reviewers, pull, review], html: { class: 'form-horizontal', role: 'form' } do |f|
                    %i.fa.fa-chevron-circle-right.hidden.open-left-side
                    .data_id{ 'pull-id': pull.id, 'reviewer-id': current_reviewer.id }
                    .reviews-form-wrapper
                      .reviews-form-card-wrapper.editor
                        = render partial: 'reviewers/pull/changed_files/changed_file', collection: changed_files, locals: { repo: repo, pull: pull }
                    #reviewSubmitModal.modal.fade
                      .modal-dialog.modal-lg
                        .modal-content
                          .modal-body
                            %h4.title
                              = t '.review'
                              %small.text-muted= t '.fix_template'
                            = f.text_area :body, id: 'review_body', class: 'form-control', rows: '10'
                            .text-left.m-t-2
                              %label.check
                                = check_box_tag :syntax
                                誤字はないか。
                              %br
                              %label.check
                                = check_box_tag :expression
                                開発者が理解しにくい曖昧な表現はないか。
                              %br
                              %label.check
                                = check_box_tag :code
                                可能な限りソースコードを提示できているか。
                              %br
                              %label.check
                                = check_box_tag :link
                                伝え切れない内容は参考リンクを貼って補足できているか。
                          .modal-footer
                            = f.submit t('.finish'), id: 'submit_review_button', class: 'btn btn-primary'
