.side-menus
  - if reviews.present?
    .dropdown
      %button.btn-sm.btn-block.dropdown-toggle{ 'data-toggle': 'dropdown', type: 'button' }
        - if @review.persisted?
          .commit-id= review.check_progress
        - else
          = t 'reviewers.reviews.sidebars.select_review'
        %span.caret
      %ul.dropdown-menu
        - reviews.each.with_index(1) do |review, index|
          %li
            = link_to [:reviewers, pull, review] do
              .index= index
              .image= image_tag review.reviewer.avatar_url
              .commit-id= review.check_progress
  - if review.persisted?
    %li
      = link_to reviewers_pull_review_path(pull, review), class: is_same_action_name?('show') do
        = I18n.t('reviewers.reviews.sidebars.titles.show')
    - if review.approve? || review.comment?
      %li
        = link_to pull.replies_path(params[:id] || params[:review_id]), class: is_same_action_name?('replies') do
          = I18n.t('reviewers.reviews.sidebars.titles.replies')
