.side-menu
  %li
    = link_to '#', class: is_same_action_name?('view_check') do
      %i.fas.fa-check-circle
      = I18n.t('reviewers.reviews.sidebars.titles.view_check')
  %li
    = link_to file_reviewers_pull_reviews_path(@pull), class: is_same_action_name?('new') do
      %i.fas.fa-check-circle
      = I18n.t('reviewers.reviews.sidebars.titles.new')
  %li
    = link_to '#', class: is_same_action_name?('show') do
      %i.fas.fa-check-circle
      = I18n.t('reviewers.reviews.sidebars.titles.show')
  %li
    = link_to '#', class: is_same_action_name?('edit') do
      %i.fas.fa-check-circle
      = I18n.t('reviewers.reviews.sidebars.titles.edit')
  %li
    = link_to pull.replies_path(params[:id] || params[:review_id]), class: is_same_action_name?('replies') do
      %i.fas.fa-check-circle
      = I18n.t('reviewers.reviews.sidebars.titles.replies')
  %li
    = link_to '#', class: is_same_action_name?('complete') do
      %i.fas.fa-check-circle
      = I18n.t('reviewers.reviews.sidebars.titles.complete')
  %h3 Reviews
  - pull.reviews.each do |review|
    %li
      = link_to view_check_reviewers_pull_reviews_path(pull, review_id: review.id), class: is_same_action_name?('complete') do
        %i.fas.fa-check-circle
        = I18n.t('reviewers.reviews.sidebars.titles.complete')