-# .right-sidebar
-#   .side-menu
-#     - if controller.action_name.eql?('index')
-#       %li.list{ class: controller.action_name.eql?('index') ? 'active' : '' }
-#         = link_to '#conversationTab', class: "#{same_action_name?('replies')} tab active" do
-#           .text-center
-#             %i.fas.fa-comments
-#             %br
-#             %small replies
-#     %li.list{ class: controller.action_name.eql?('index') ? '' : 'active' }
-#       = link_to '#codeTab', class: "#{same_action_name?('view_check')} tab #{ controller.action_name.eql?('index') ? '' : 'active' }" do
-#         .text-center
-#           %i.fas.fa-code
-#           %br
-#           %small code
-#     %li.list
-#       = link_to '#bodyTab', class: "#{same_action_name?('view_check')} tab" do
-#         .text-center
-#           %i.glyphicon.glyphicon-comment
-#           %br
-#           %small pullrequest
-#     %li.list
-#       = link_to '#issueTab', class: "#{same_action_name?('view_check')} tab" do
-#         .text-center
-#           %i.fas.fa-exclamation-circle
-#           %br
-#           %small issues
-#     %li.list
-#       = link_to '#commitsTab', class: "#{same_action_name?('view_check')} tab" do
-#         .text-center.center-block
-#           %i.fas.fa-history
-#           %br
-#           %small commits
-#     %li.list
-#       = link_to [:reviewers, repo], class: 'repo', target: '_blank' do
-#         .text-center.center-block
-#           %i.fas.fa-project-diagram
-#           %br
-#           %small repository