.right-sidebar
	.side-menu
		.side-menu
			%li.list.active
				= link_to '#codeTab', class: "#{is_same_action_name?('view_check')} tab active" do
					.text-center
						%i.fas.fa-code
						%br
						%small code
			%li.list
				= link_to '#bodyTab', class: "#{is_same_action_name?('view_check')} tab" do
					.text-center
						%i.glyphicon.glyphicon-comment
						%br
						%small pullrequest
			%li.list
				= link_to '#issueTab', class: "#{is_same_action_name?('view_check')} tab" do
					.text-center
						%i.fas.fa-exclamation-circle
						%br
						%small issues
			%li.list
				= link_to '#commitsTab', class: "#{is_same_action_name?('view_check')} tab" do
					.text-center.center-block
						%i.fas.fa-history
						%br
						%small commits