/ pullrequest
#bodyTab.hidden.tab-content
  .pulls-body-wrapper
    .page-header{ 'pull-id': pull.id }
      %h1
        %strong= pull.title
    .panel
      - if pull.body.present?
        .panel-body
          .md-wrapper
            = markdown(pull.body)
      - else
        チェック項目はありません。
/ issues
#issueTab.hidden.tab-content
  .page-header{ 'repo-id': pull.repo.id, 'issue-numbers': @numbers.empty? ? 0 : @numbers }
    %h1
      %strong= pull.title
  #issueList
/ commits
#commitsTab.hidden.tab-content
  .page-header
    %h1
      %strong= pull.title
  .panel
    %table.table.table-hover
      %tbody
        - commits.each do |commit|
          %tr
            %td
              = link_to commit.message, [:reviewers, pull, commit], class: 'commit_title'
              .break-line.owner_name
                = commit.committer_name
                = I18n.l(commit.committed_date.to_time, format: :default)
            %td.text-right
              = link_to commit.short_sha, [:reviewers, pull, commit]
