// @see https://qiita.com/mikaku/items/2e19084dca4a5448194a
%script{ src: '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' }
%script{ src: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js' }
= render 'form'
= javascript_pack_tag 'reviews'
= javascript_pack_tag 'modal'
= javascript_pack_tag 'review-check-list'
= javascript_pack_tag 'review-tab'
