.container-fluid
  .row
    .review
      .left-sidebar.col-sm-2.hidden-xs
        = render 'sidebar'
      .col-sm-10.col-sm-offset-2
        .col-sm-8.col-sm-offset-2
          .right-sidebar
            .side-menu
              %li.active
                = link_to '#codeTab', 'data-toggle': 'tab', class: "#{is_same_action_name?('view_check')} active" do
                  .text-center
                    %i.fas.fa-code
                    %br
                    %small code
              %li
                = link_to '#bodyTab', 'data-toggle': 'tab', class: is_same_action_name?('view_check') do
                  .text-center
                    %i.glyphicon.glyphicon-comment
                    %br
                    %small pullrequest
              %li
                = link_to '#issueTab', 'data-toggle': 'tab', class: is_same_action_name?('view_check') do
                  .text-center
                    %i.fas.fa-exclamation-circle
                    %br
                    %small issues
              %li
                = link_to '#commitsTab', 'data-toggle': 'tab', class: is_same_action_name?('view_check') do
                  .text-center.center-block
                    %i.fas.fa-history
                    %br
                    %small commits
          .tab-content
            / code
            #codeTab.tab-pane.active
              = form_for [:reviewers, @pull, @review], html: { class: 'form-horizontal', role: 'form' } do |f|
                %i.fa.fa-chevron-circle-right.hidden.open-left-side
                .data_id{ 'pull-id': @pull.id, 'reviewer-id': current_reviewer.id }
                .reviews-form-wrapper
                  .reviews-form-card-wrapper.editor
                    = render @changed_files.decorate
                    = f.text_area :body, id: 'review_body', class: 'form-control', rows: '3'
                    .pull-right.col-sm-3.p-r-0.m-t-1
                      %button#reviewSubmit.btn.btn-outline-primary{ type: 'button' } チェックする
                      #reviewSubmitModal.modal.fade
                        .modal-dialog
                          .modal-content
                            .modal-body
                              .review-footer-wrapper
                                = f.label :body, for: 'review_body'
                                = f.text_area :body, id: 'review_body', class: 'form-control', rows: '3'
                                .text-center.m-t-1
                                  = f.submit t('helpers.links.review'), id: 'submit_review_button', class: 'btn btn-block btn-outline-primary'
                            .modal-footer
                              %button.btn.btn-outline-default{ 'data-dismiss': 'modal', type: 'button' } レビューを作成する
            / pullrequest
            #bodyTab.tab-pane
              .pulls-body-wrapper
                .panel.h-550
                  - if @pull.body.present?
                    .panel-body
                      .md-wrapper
                        = markdown(@pull.body)
                  - else
                    チェック項目はありません。
            / issue
            #issueTab.tab-pane
              .panel.h-550
                - if @issues.blank?
                  .all-center
                    issueはありません
                - else
                  - @issues.each do |issue|
                    .page-header
                      %h4= issue.title
                    .panel-body
                      .md-wrapper= markdown(issue.body)
            / commits
            #commitsTab.tab-pane.h-550
              .panel.h-550
                .all-center Comming Soon

= javascript_pack_tag 'reviews'
= javascript_pack_tag 'modal'
