- content_for(:no_flash_msg_page, true)
.container-fluid
  .row
    .review
      .left-sidebar.col-sm-2.hidden-xs
        = render 'left_sidebar', pull: @pull, review: @review, reviews: @reviews
      .col-sm-10.col-sm-offset-2
        .col-sm-9.col-sm-offset-1.workspace
          = render 'shared/flash_msg'
          = render 'right_sidebar', repo: @pull.repo
          .m-t-10.m-b-4
            / code
            #codeTab.tab-content
              .page-header{ 'pull-id': @pull.id }
                %h1
                  %strong= @pull.title
                  %small
                    = link_to '修正する', edit_reviewers_pull_review_path(@pull, @review), class: 'btn btn-primary pull-right'
                %h3
                  %span.label.label-default= @review.event_i18n
                  - if @review.pending?
                    %span.reviewing= t '.reviewing'
              .reviews-form-wrapper
                .reviews-form-card-wrapper
                  = render @changed_files
              // コード全体へのレビュー
              %h4.m-t-10 全体へのコメント
              .panel
                .panel-body.gray-space
                  = markdown(@review.body)
            = render 'reviewers/reviews/tab_contents', pull: @pull, commits: @commits
= javascript_pack_tag 'issues'
= javascript_pack_tag 'review-tab'
