- content_for(:no_flash_msg_page, true)
.container-fluid
  .row
    .review
      .left-sidebar.col-sm-2.hidden-xs
        = render 'left_sidebar', pull: @pull, review: @review
      .col-sm-10.col-sm-offset-2
        .col-sm-8.col-sm-offset-2.workspace
          = render 'shared/flash_msg'
          .page-header{ 'pull-id': @pull.id }
            %h1
              %strong= @pull.title
          .panel
            .panel-body
              - if @pull.body.present?
                .md-wrapper
                  = markdown(@pull.body)
              - else
                = t('.description_is_blank')
          %hr
          .text-center
            %p= t '.assign_to_pullrequest'
            = link_to t('.next'), file_reviewers_pull_reviews_path(@pull), class: 'btn btn-outline-primary'