.container
  .row
    .review
      .col-sm-8.col-sm-offset-2.workspace
        = render 'progress_bar', pull: @pull, review: @review
        = render 'shared/flash_msg'
        .page-header{ 'pull-id': @pull.id }
          %h1
            %strong= @pull.title
        .panel
          .panel-body
            - if @pull.body?
              .md-wrapper
                = markdown(@pull.body)
            - else
              = t('.description_is_blank')
        %hr
        .text-center
          .panel.panel-default
            .panel-body
              %p
                あなたのエディタでソースコードを見ることができます。
                %br
                ※ レビューが終了したらすぐに削除してください。
              = link_to 'Download', reviewers_repo_download_path(@pull.repo, pull_token: @pull.token), method: :post
          %p
            = t '.assign_to_pullrequest'
            %br
            = t '.assign_is'
          = link_to t('.next'), file_reviewers_pull_reviews_path(@pull), class: 'btn btn-primary'