.col-xs-12
  .page-header
    %h3
      %b Settings
  .setting-integrations-wrapper
    = render 'reviewees/shared/settings/side_nav'
    .col-xs-12.col-sm-8
      %h4= t('reviewees.registrations.edit.title')
      %hr
      .col-xs-12
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f|
          = devise_error_messages!
          .form-group
            .input-group
              %span.input-group-addon
                %i.fas.fa-at
              = f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('helpers.links.email')
          .form-group
            .input-group
              %span.input-group-addon
                %i.fas.fa-lock
              = f.password_field :password, class: 'form-control', placeholder: t('helpers.links.password')
          .form-group
            .input-group
              %span.input-group-addon
                %i.fas.fa-check
              = f.password_field :password_confirmation, class: 'form-control', placeholder: t('helpers.links.password_confirm')

          .form-group
            = f.submit t('helpers.links.update'), class: 'btn btn-primary'
