.js-blob-wrapper
  .panel.panel-default.changed-file-list-wrapper
    .panel-heading
      .pull-right
        // @TODO refだけ parameter に設置
        = link_to t('views.view'), reviewers_repo_pull_changed_file_path(repo, pull, changed_file.sha, contents_url: changed_file.contents_url), class: 'btn btn-default btn-sm'
      .changed-file-name= changed_file.filename
    .panel-body.file-border{ 'sha': changed_file.sha }
      .panel-text
        .table-wrapper
          %table
            %thead
              %tr
                %th{ scope: 'col' }
            %tbody
              - changed_file.patch.split(/@@.*@@.*\n/).reject(&:empty?).each.with_index do |code_line, code_line_index|
                %tr.code-tr{ 'data-line-number': code_line_index }
                  %td.section-rows
                  %td.section-rows
                  %td.markdown-highlight.bg-primary.hljs-addition.file-code
                    %pre= changed_file.patch.scan(/@@\s.*\s@@/)[code_line_index]
                - code_line.each_line&.with_index(1) do |line, index|
                  %tr.code-tr{ 'data-line-number': index }
                    %td.index{ class: lines_number_color(line) }= changed_file.deletional_line_number(line: line, section_num: code_line_index, line_num: index)
                    %td.index{ class: lines_number_color(line) }= changed_file.additional_line_number(line: line, section_num: code_line_index, line_num: index)
                    - if line.start_with?('+')
                      %td.markdown-highlight.bg-success.hljs-addition.file-code= changed_file.coderay(line)
                    - elsif line.start_with?('-')
                      %td.markdown-highlight.bg-danger.hljs-addition.file-code= changed_file.coderay(line)
                    - else
                      %td.markdown-highlight.file-code= changed_file.coderay(line)
                  - review_comment = changed_file.find_review_comment_by(position: index, reviewer: current_reviewer)
                  // レビュワー自身のコメントでPendingなものだけ表示
                  - if review_comment && changed_file.present_review_comment?(index)
                    %tr
                      %td{ colspan: '3', style: 'padding: 10px;' }
                        .review-comments-wrapper
                          .panel.panel-default{ style: 'max-width: 780px;' }
                            - if review_comment.pending?
                              .panel-heading
                                %span.label.label-warning= review_comment.decorate.status
                            .panel-body
                              .panel-text{ 'review-comment-id': changed_file.review_comment_id(index) }
                                = markdown(changed_file.review_comment_body(index))
                              - if changed_file.reviewer?(index, current_reviewer) && controller.action_name.in?(%w(new edit))
                                .flex-row.text-right
                                  %button{ type: 'button', class: 'btn btn-danger card-link destroy-trigger circle', data: { confirm: '本当によろしいですか？' } }
                                    %span.glyphicon.glyphicon-trash
                                  %button{ type: 'button', class: 'btn btn-primary card-link edit-trigger circle' }
                                    %span.glyphicon.glyphicon-pencil
                                  = hidden_field_tag 'reviews[sha][]', changed_file.sha, class: 'sha'
                                  = hidden_field_tag 'reviews[path][]', changed_file.review_comment_path(index), class: 'path'
                                  = hidden_field_tag 'reviews[position][]', changed_file.review_comment_position(index), class: 'position'