- if controller_name == 'welcome'
  %footer
    .col-xs-12
      = link_to '企業向け', 'https://pushrequest.jp/'
      |
      = link_to 'Reviewer', :new_reviewer_registration
      |
      = link_to 'ヘルプ', 'https://hackmd.io/s/B1bv92HIQ'
      |
      = link_to '利用規約', welcome_term_path
      |
      = link_to 'セキュリティポリシー', 'https://hackmd.io/s/S1X9tnrLm'
      |
      = link_to 'バグ報告', 'https://github.com/sagaekeiga/push-request-bug'
      %hr
      = render 'social_button'
- else
  %footer.in
    .col-xs-12
      %hr
        = link_to '企業向け', 'https://pushrequest.jp/'
        |
        = link_to 'ヘルプ', 'https://hackmd.io/s/B1bv92HIQ'
        |
        = link_to '利用規約', welcome_term_path 
        |
        = link_to 'セキュリティポリシー', 'https://hackmd.io/s/S1X9tnrLm'
        |
        = link_to 'バグ報告', 'https://github.com/sagaekeiga/push-request-bug'
