%footer
  .col-xs-12
    = link_to 'Reviewer', :new_reviewer_registration
    |
    = link_to 'ヘルプ', 'https://hackmd.io/s/B1bv92HIQ'
    |
    = link_to '利用規約', :term
    |
    = link_to 'プライバシーポリシー', :privacy
    %hr
    = render 'social_button'