.navbar-wrapper
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid.naved
      .navbar-header
        %a.navbar-brand
          = link_to Settings.meta.site, root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav

      %ul.nav.navbar-nav.navbar-right
        - if @pull.present?
          %li
            = link_to I18n.t('reviewers.reviews.sidebars.titles.new'), file_reviewers_pull_reviews_path(@pull), class: 'btn'
        %li
          .dropdown
            %button.setting-down.btn-sm.btn-primary.dropdown-toggle{ 'data-toggle': 'dropdown', type: 'button' }
              - if current_reviewer.github_account
                .right-drop
                  %li
                    = image_tag current_reviewer.avatar_url, class: 'user-image'
                  %li.side-caret
                    %span.caret
              - else
                %span.caret.uncertified
            %ul.dropdown-menu
              %li
                = link_to :destroy_reviewee_session, method: :delete do
                  %i.fa.fa-sign-out-alt
                  = t('helpers.label.log_out')
