.navbar-wrapper
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid.naved
      .navbar-header
        %a.navbar-brand
          = link_to Settings.meta.site, root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          - if current_reviewee.has_repos?
            %li
              .dropdown
                %button.btn-sm.btn-primary.dropdown-toggle{ 'data-toggle': 'dropdown', type: 'button' }
                  %i.fab.fa-github
                  %span.repo-title= @repo.present? ? @repo.decorate.name_including_orgs : t('reviewees.views.select_repo')
                  %span.caret
                %ul.dropdown-menu
                  - current_reviewee.feed_for_repos.each do |repo|
                    %li
                      = link_to repo.decorate.name_including_orgs, reviewees_repo_path(repo)
                  %li.add-repo
                    = link_to ENV['GITHUB_APP_URL'], target: '_blank' do
                      %i.fa.fa-folder-plus
                      = t('reviewees.views.add_repo')
          - else
            %li.add-repo-link
              = link_to ENV['GITHUB_APP_URL'], target: '_blank' do
                %i.fa.fa-folder-plus
                = t('reviewees.views.add_repo')

      %ul.nav.navbar-nav.navbar-right
        %li
          .dropdown
            %button.setting-down.btn-sm.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              - if current_reviewee.github_account
                .right-drop
                  %li
                    = image_tag current_reviewee.avatar_url, class: 'user-image'
                  %li.side-caret
                    %span.caret
              - else
                %span.caret.uncertified
            %ul.dropdown-menu
              - if current_reviewee.github_account
                %li
                  = link_to :edit_reviewee_registration do
                    %i.fa.fa-user-edit
                    = t('reviewees.registrations.edit.title')
              %li
                = link_to :destroy_reviewee_session, method: :delete do
                  %i.fa.fa-sign-out-alt
                  = t('helpers.label.log_out')
