.col-xs-12.p-r-0.p-l-0
  .container-fluid.p-r-0.p-l-0
    %nav.aside-left-nav
      = link_to :root, class: 'aside-item' do
        %i.fas.fa-tachometer-alt
        .title
          %small Dashboard
      = link_to :reviewers_pulls, class: 'aside-item current' do
        %i.fab.fa-hubspot
        .title
          %small Pulls
      = link_to '#', class: 'aside-item' do
        %i.fas.fa-cogs
        .title
          %small Settings
    %main.app-main
      %header.main-header
        .title
          %span.full_name
            %small= link_to @repo.full_name, [:reviewers, @repo]
      .app-domainant
        %aside.app-aside
          %nav.aside-left-menu
            .aside-activity
              %header
              %ul.projects
                %li= link_to 'リポジトリをダウンロード', reviewers_repo_download_path(@repo), method: :post, class: 'btn btn-block btn-primary'
        .main-display
          .above-main-content
          .main-body
            .dashboard
              .languages
                %p 使用言語
                %table.table.table-hover
                  %tbody
                    - @languages.each do |language|
                      %tr
                        %th= language.name
                        %td= number_to_percentage language.rate(@language_sum_lines)
              -if @readme[:content].present?
                .panel.panel-default
                  .panel-heading= @readme[:name]
                  .panel-body
                    .md-wrapper
                      = markdown(Base64.decode64(@readme[:content]).force_encoding('UTF-8'))