.container
  .row
    .page-header{ 'repo-id': @repo.id, 'repo-token': @repo.token }
      %h3= link_to @repo.full_name, [:reviewers, @repo]
    = form_with url: reviewers_repo_contents_path(@repo), method: :get, local: true, class: 'search-form' do |f|
      .input-group
        = f.text_field :keyword, value: params[:keyword], class: 'form-control', placeholder: t('reviewers.contents.index.placeholder')
        %span.input-group-btn
          = f.submit t('reviewers.contents.index.search'), class: 'btn btn-primary'
    .panel.panel-default
      %table.table.table-hover
        %tbody
          - @contents.each do |content|
            %tr
              %td.file-name.col-sm-11
                = link_to reviewers_repo_contents_path(@repo, path: content[:path], type: content[:type]) do
                  %i.fas{ class: content[:type].eql?('dir') ? 'fa-folder' : 'fa-file' }
                  &nbsp;
                  = content[:name]
    -if @readme[:content].present?
      .panel.panel-default
        .panel-heading= @readme[:name]
        .panel-body
          .md-wrapper
            = markdown(Base64.decode64(@readme[:content]).force_encoding('UTF-8'))