.container-fluid
  .row
    .col-sm-3
      = render 'admins/shared/side_nav'
    .col-sm-9
      .page-header
        %h4= t '.title'
      %table.table.table-hover.pulls-on-dashboard-wrapper.text-center
        %thead
          %tr
            %th= t 'activerecord.attributes.review.id'
            %th= t 'activerecord.attributes.pull.title'
            %th= t 'activerecord.attributes.review.count'
            %th= t 'activerecord.attributes.pull.status'
            %th= t 'activerecord.attributes.review.created_at'
            %th
        %tbody
          - @pulls.each do |pull|
            %tr
              %td= pull.id
              %td{ align: 'left' }= pull.title&.truncate(20)
              %td= pull.reviews.count
              %td= pull.status_i18n
              %td= l pull.created_at
              %td= link_to '詳細', [:admins, pull]
