.container-fluid
  .row
    .col-sm-3
      = render 'admins/shared/side_nav'
    .col-sm-9
      %h2= @pull.title
      %table.table
        %tbody
          %tr
            %th{ scope: 'row' } 所有者
            %td= @pull.resource_name
          %tr
            %th= t 'activerecord.attributes.pull.count'
            %td= @changed_files.count
          %tr
            %th= t 'activerecord.attributes.pull.body'
            %td
              .md-wrapper= markdown(@pull.body)
      .reviews-form-wrapper
        .reviews-form-card-wrapper.editor
          = render @changed_files