.container-fluid
  .row
    .col-sm-3
      = render 'admins/shared/side_nav'
    .col-sm-9
      %h2= @pull.title
      %table.table
        %tbody
          %tr
            %th{ scope: 'row' } 所有者
            %td= @pull.resource_name
          %tr
            %th= t 'activerecord.attributes.pull.count'
            %td= @changed_files.count
          %tr
            %th= t 'activerecord.attributes.pull.body'
            %td
              .md-wrapper= markdown(@pull.body)
      .page-header
        %h4= t '.assign'
      .panel.panel-default
        %table.table.table-hover.pulls-on-dashboard-wrapper.text-center
          %thead
            %tr
              %th= t 'activerecord.attributes.reviewer/github.nickname'
              %th= t 'activerecord.attributes.reviewer/github.avatar_url'
              %th= t 'activerecord.attributes.reviewer/github.email'
              %th= t 'activerecord.attributes.reviewer/github.user_type'
              %th
          %tbody
            = render @reviewers, resource: @pull
      .reviews-form-wrapper
        .reviews-form-card-wrapper.editor
          = render partial: 'admins/pull/changed_files/changed_file', collection: @changed_files, locals: { repo: @repo, pull: @pull }